[Desktop Entry]
Type=Application
Name=xoreos
Comment="A reimplementation of BioWare's Aurora engine"
Exec=xoreos
Icon=xoreos
Terminal=false
Categories=Game;Action;Adventure
